$heading-font-family: "Poppins", sans-serif;
$body-font-family: "Open Sans", sans-serif;

$font-sm: 0.875rem;
$font-m: 1rem;

$color-dark: hsl(255, 16%, 18%);
$color-link: hsl(253, 66%, 50%);
$color-light-purple: hsl(253, 59%, 84%);
